<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/js/yang.js"></script>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="/css/yang.css">
  <link rel="stylesheet" href="/css/reservation.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/complete.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body>
<div class="map-wrap">
  <div id="map">
  </div>
  <div id="reload-button">
    <button id="testButton" onclick="ReloadButtonClick()">현재 위치에서 다시 찾기</button>
  </div>
  <div id="map-location-list-wrap">
  </div>
  <div id="info-wrap1" th:include="stationInfo/stationInfo.html">
  </div>
  <div id="info-wrap2" th:include="reservation/reservation.html">
  </div>
  <div id="info-wrap3" th:include="reservation/complete.html">
  </div>
  <div id="info-wrap4" th:include="reservation/complete.html">
  </div>
  <div id="info-wrap5" th:include="reservation/complete.html">
  </div>
</div>
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b4872a9b5acb5ecc63be75e1c4458374"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/reservation.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/complete.js"></script>
</html>