<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="/css/reservation.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/complete.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/locationList.css">
  <link rel="stylesheet" href="/css/map.css">
  <link rel="stylesheet" href="/css/stationInfo.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/join.css">
  <link rel="stylesheet" href="/css/mypage.css">
  <link rel="stylesheet" href="/css/reservationView.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body>
<div class="map-wrap">
  <div id="map">
  </div>
  <div id="reload-button">
    <button id="testButton" onclick="ReloadButtonClick()">현재 위치에서 다시 찾기</button>
  </div>
  <div id="map-location-list-wrap">
  </div>
  <div id="info-wrap1" th:include="stationInfo/stationInfo.html">
  </div>
  <div id="info-wrap2" th:include="reservation/reservation.html">
  </div>
  <div id="info-wrap3" th:include="reservation/complete.html">
  </div>
  <div id="info-wrap4" th:include="member/login.html" th:if="${session.userId} == null">
  </div>
  <div id="info-wrap5" th:include="member/join.html" th:if="${session.userId} == null">
  </div>
  <div id="info-wrap6" th:include="mypage/mypage.html" th:if="${session.userId} != null">
  </div>
  <div id="info-wrap7" th:include="mypage/reservationView.html">
  </div>
  <div id="profile-button" th:onclick="|onClickProfile('${session.mId}')|">
  </div>
  <div id="infoList-close-button" onclick="closeLocationList()">
    <span><</span>
  </div>
  <div id="infoList-open-button" onclick="openLocationList()">
    <span>></span>
  </div>
</div>
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b4872a9b5acb5ecc63be75e1c4458374"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/stationInfo.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/reservation.js"></script>
<script type="text/javascript" src="/js/complete.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/join.js"></script>
<script type="text/javascript" src="/js/mypage.js"></script>
<script type="text/javascript" src="/js/reservationView.js"></script>

</html>