<div id="complete-wrap">
  <div class="exit-button" onclick="exitButton()">X</div>
  <div id="complete-middle-wrap">
    <table id="complete-table">
      <tr>
        <td colspan="2">예약 상황</td>
      </tr>
      <tr>
        <td id="complete-left-td">충전기 번호</td>
        <td id="complete-chgerId"></td>
      </tr>
      <tr>
        <td>예약 장소</td>
        <td id="complete-statNm"></td>
      </tr>
      <tr>
        <td>예약 날짜</td>
        <td id="complete-resDate"></td>
      </tr>
      <tr>
        <td>예약 시간</td>
        <td id="complete-resTime"></td>
      </tr>
      <tr>
        <td>예상 결제 금액</td>
        <td id="complete-fee"></td>
      </tr>
    </table>
    <div class="button-wrap">
      <button onclick="onClickAnotherReservation()">다른거 예약하기</button>
      <button>예약내역 보기</button>
    </div>
  </div>
</div>