<div id="complete-wrap">
    <table id="complete-table">
      <tr>
        <td colspan="2">예약 상황</td>
      </tr>
      <tr>
        <td id="complete-left-td">충전기 번호</td>
        <td id="complete-chgerId"></td>
      </tr>
      <tr>
        <td>예약 장소</td>
        <td id="complete-statNm"></td>
      </tr>
      <tr>
        <td>예약 날짜</td>
        <td id="complete-resDate"></td>
      </tr>
      <tr>
        <td>예약 시간</td>
        <td id="complete-resTime">15:00 ~ 17:00</td>
      </tr>
      <tr>
        <td>예상 결제 금액</td>
        <td id="complete-fee">12,800원</td>
      </tr>
    </table>
</div>