<div id="reservation-wrap">
  <div id="calendarWrap">
    <div id='calendar'></div>
  </div>
  <div class="exit-button" onclick="exitButton()">X</div>
  <div class="reservation-time-wrap">
    <ul>
      <li>
        <input type="checkbox" name="tId" id="reservation-time1" value="1" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time1">00 ~ 01시</label>
        <input type="checkbox" name="tId" id="reservation-time2" value="2" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time2">01 ~ 02시</label>
        <input type="checkbox" name="tId" id="reservation-time3" value="3" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time3">02 ~ 03시</label>
        <input type="checkbox" name="tId" id="reservation-time4" value="4" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time4">03 ~ 04시</label>
        <input type="checkbox" name="tId" id="reservation-time5" value="5" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time5">04 ~ 05시</label>
        <input type="checkbox" name="tId" id="reservation-time6" value="6" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time6">05 ~ 06시</label>
      </li>
      <li>
        <input type="checkbox" name="tId" id="reservation-time7" value="7" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time7">06 ~ 07시</label>
        <input type="checkbox" name="tId" id="reservation-time8" value="8" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time8">07 ~ 08시</label>
        <input type="checkbox" name="tId" id="reservation-time9" value="9" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time9">08 ~ 09시</label>
        <input type="checkbox" name="tId" id="reservation-time10" value="10" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time10">09 ~ 10시</label>
        <input type="checkbox" name="tId" id="reservation-time11" value="11" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time11">10 ~ 11시</label>
        <input type="checkbox" name="tId" id="reservation-time12" value="12" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time12">11 ~ 12시</label>
      </li>
      <li>
        <input type="checkbox" name="tId" id="reservation-time13" value="13" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time13">12 ~ 13시</label>
        <input type="checkbox" name="tId" id="reservation-time14" value="14" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time14">13 ~ 14시</label>
        <input type="checkbox" name="tId" id="reservation-time15" value="15" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time15">14 ~ 15시</label>
        <input type="checkbox" name="tId" id="reservation-time16" value="16" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time16">15 ~ 16시</label>
        <input type="checkbox" name="tId" id="reservation-time17" value="17" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time17">16 ~ 17시</label>
        <input type="checkbox" name="tId" id="reservation-time18" value="18" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time18">17 ~ 18시</label>
      </li>
      <li>
        <input type="checkbox" name="tId" id="reservation-time19" value="19" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time19">18 ~ 19시</label>
        <input type="checkbox" name="tId" id="reservation-time20" value="20" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time20">19 ~ 20시</label>
        <input type="checkbox" name="tId" id="reservation-time21" value="21" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time21">20 ~ 21시</label>
        <input type="checkbox" name="tId" id="reservation-time22" value="22" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time22">21 ~ 22시</label>
        <input type="checkbox" name="tId" id="reservation-time23" value="23" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time23">22 ~ 23시</label>
        <input type="checkbox" name="tId" id="reservation-time24" value="24" onclick="checkBoxChangeRed(this)">
        <label for="reservation-time24">23 ~ 24시</label>
      </li>
    </ul>
    <button onclick="onClickCompleteButton()">선택완료</button>
  </div>
  <div class="car-manufactor-wrap">
    <select id="cars-manufacturer-select" name="manufac" onchange="getCarList(this)">
      <option value="manufacturerchoose">제조사 선택</option>
    </select>
    <select id="cars-model-select" name="model" onchange="getCarList(this)">
      <option value="modelchoose">차량 선택</option>
    </select>
    <select id="cars-batCap-select" name="batCap" onchange="getCarList(this)"></select>
    <select id="cars-outPut-select" name="outPut"></select>
  </div>
  <div>
    <div class="reservation-charging-percent">
      <div class="charging-start-percent">
        <div>충전 시작 퍼센트:</div>
        <input type="number" id="reservation-startPercentage" min="0" max="100" minlength="1" maxlength="2">
        <button onclick="viewChargingPercentage()">입력완료</button>
      </div>
      <div class="estimated-percentage-of-completion-of-charging">
        <div>예상 충전 완료 퍼센트: </div>
        <span id="reservation-endPercentage"></span>
        <span id="reservation-overPercentage"></span>
      </div>
      <div class="Estimated-Payment-Amount">
        <div>결제 예상 금액: </div>
        <span id="charging-payment"></span>
        <span id="over-charging-payment"></span>
      </div>
      <div id="reservation-button-wrap">
        <button id="reservation-button" th:onclick="|onClickReservationButton('${session.mId}')|">예약하기</button>
        <button id="reservation-cancle-button" onclick="reservationCancelButton()">취소하기</button>
      </div>
      <div class="reservation-status">
        <table class="reservation-table">
          <tr>
            <td colspan="2">예약 상황</td>
          </tr>
          <tr>
            <td class="reservation-left-td">충전기 번호</td>
            <td class="reservation-right-td" id="reservation-chgerId"></td>
          </tr>
          <tr>
            <td>예약 장소</td>
            <td id="reservation-statNm"></td>
          </tr>
          <tr>
            <td>예약 날짜</td>
            <td id="reservation-resDate"></td>
          </tr>
          <tr>
            <td>예약 시간</td>
            <td id="reservation-resTime"></td>
          </tr>
          <tr>
            <td>예상 결제 금액</td>
            <td id="reservation-fee"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div id="hidden-wrap">
    <input type="text" id="reservation-hidden-resDate">
    <input type="text" id="reservation-hidden-userId">
    <input type="text" id="reservation-hidden-statId">
    <input type="text" id="reservation-hidden-chgerId">
  </div>
</div>