<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="reservation-wrap">
  <div class="reservation-title-wrap">
    <h1>예약 페이지</h1>
  </div>
  <div class="reservation-body-wrap">
    <div class="reservation">
      <div class="reservation-content">
        <form action="/reservation" method="post">
          <table class="reservation-table">
            <tr>
              <th>날짜/시간</th>
              <td>
                <input type="datetime-local" name="startTime" value="날짜" min="2022-05-01" max="2022-06-30">
              </td>
            </tr>
            <tr>
              <th>유저 아이디</th>
              <td>
                <input type="text" name="userId" id="userid">
              </td>
            </tr>
            <button type="submit" id="button" value="예약하기"></button>
            <input type="reset" id="canclebutton" value="취소">
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>