<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/yang.js"></script>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="/css/yang.css">
  <title>Document</title>
</head>

<body>
  <div class="mycarRegistration-wrap">
    <header th:include="/main/header/header.html"></header>
    <div class="wrap">
      <div class="mypageList-wrap">
        <ul>
          <li>개인정보관리</li>
          <li>결제정보등록</li>
          <li>인증등록</li>
          <li class="mypageList-background">차량정보</li>
        </ul>
      </div>
      <div class="mypage-content-wrap">
        <div class="mycarRegistration-image">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div>
      </div>
    </div>
</body>

</html>