<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/yang.js"></script>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="/css/yang.css">
  <title>Document</title>
</head>

<body>
  <div class="mycar-wrap">
    <header th:include="/main/header/header.html"></header>
    <div class="wrap">
      <div class="mypageList-wrap">
        <ul>
          <li>개인정보관리</li>
          <li>결제정보등록</li>
          <li>인증등록</li>
          <li class="mypageList-background">차량정보</li>
        </ul>
      </div>
      <div class="mypage-content-wrap">
        <div class="mycarImage-wrap">
          <button class="mycar-preview-button">
            << /button>
              <img src="/image/아이오닉5.jpg">
              <button class="mycar-next-button">></button>
        </div>
        <div class="mycarPage-button">
          <button>1</button>
        </div>
        <div class="mycar-content-wrap">
          <ul>
            <li class="mycar-name-wrap">
              <div class="mycar-name">
                <b>차량이름</b>
              </div>
              <div class="mycar-name-content">
                아이오닉5
              </div>
            </li>
            <li class="mycar-battery-wrap">
              <div class="mycar-battery">
                <b>배터리 용량</b>
              </div>
              <div class="mycar-battery-content">
                <div class="mycae-battery-list">100kw</div>
              </div>
            </li>
            <li class="mycar-chargerConnector-wrap">
              <div class="mycar-chargerConnector">
                <b>충전기 커넥터</b>
              </div>
              <div class="mycar-chargerConnector-content">
                <div class="mycae-chargerConnector-list">DC</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>