<div class="stationInfo-wrap">
  <div class="stationInfo-top">
    <div class="stationInfo-top-title">
      <h1 id="stationInfo-top-title-content"></h1>
    </div>
    <div>
      <div class="stationInfo-top-title-update">
        <div class="exit-button" onclick="exitButton()">X</div>
        <div id="stationInfo-top-title-detail-title-wrap">
          <h1 id="stationInfo-top-title-detail-title">상세정보</h1>
          <div id="stationInfo-top-title-detail-update">
            <span>업데이트 </span>
            <span id="stationInfo-top-title-update-content"></span>
          </div>
        </div>
      </div>
      <div class="stationInfo-top-title-detail">
        <ul>
          <li id="stationInfo-top-title-detail-addr"></li>
          <li id="stationInfo-top-title-detail-busiCall"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="stationInfo-middle">
    <div class="stationInfo-middle-charginfStation-info">
      <div class="stationInfo-middle-charginfStation-info-title">
        <h1 id="stationInfo-middle-charginfStation-info-title-content">전기차충전소 정보</h1>
      </div>
      <div class="stationInfo-middle-charginfStation-info-detail">
        <table class="stationInfo-middle-charginfStation-info-detail-table">
          <tr>
            <td>운영기관</td>
            <td id="stationInfo-middle-stationInfo-bnm"></td>
          </tr>
          <tr>
            <td>운영시간</td>
            <td id="stationInfo-middle-stationInfo-useTime"></td>
          </tr>
          <tr>
            <td>주차요금</td>
            <td>유료</td>
          </tr>
          <tr>
            <td>충전기 수</td>
            <td id="showAbleCharging">
              <span id="totalCharging"></span>
              <span id="chargingAble"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="stationInfo-bottom">
    <div class="stationInfo-bottom-chargingStatus">
      <div class="stationInfo-bottom-chargingStatus-title">
        <h1>충전기상태</h1>
      </div>
    </div>
    <div class="stationInfo-bottom-chargingStatus-detail">
      <table id="stationInfo-bottom-chargingStatus-detail-table-wrap">
        <tbody>
        <tr>
          <td style="width: 120px; height: 42px;">충전현황</td>
          <td style="width: 600px;">충전방식</td>
        </tr>
        </tbody>
        <tbody id="stationInfo-bottom-chargingStatus-detail-table">

        </tbody>
      </table>
    </div>
  </div>
</div>