<div id="join-wrap">
  <div id="join-top">
    <h1>회원가입</h1>
  </div>
  <div id="join-input-wrap">
    <ul>
      <li>
        아이디
      </li>
      <li>
        <input type="text" id="joinUserId">
      </li>
      <li>
        비밀번호
      </li>
      <li>
        <input type="password" id="joinUserPass">
      </li>
      <li>
        비밀번호 확인
      </li>
      <li>
        <input type="password" id="joinConfirmUserPass">
      </li>
      <li>
        이름
      </li>
      <li>
        <input type="text" id="joinUserName">
      </li>
      <li>
        연락처
      </li>
      <li>
        <input type="tel" id="joinPhNum">
      </li>
    </ul>
    <div>
      <button onclick="onClickJoin()">회원가입</button>
      <button onclick="">취소</button>
    </div>
  </div>
</div>