<div id="login-wrap">
  <div id="login-top">
    <span>로그인</span>
  </div>
  <div id="login-input-wrap">
    <ul>
      <li>
        아이디
      </li>
      <li>
        <input type="text" id="loginId">
      </li>
      <li>
        비밀번호
      </li>
      <li>
        <input type="password" id="loginPass">
      </li>
    </ul>
    <div>
      <button onclick="onClickLoginButton()">로그인</button>
    </div>
    <div>
      <span>아직도 회원이 아니세요?</span>
      <span>회원가입</span>
    </div>
  </div>
</div>