<div id="login-wrap">
  <div id="login-top">
    <h1>로그인</h1>
  </div>
  <div id="login-input-wrap">
    <ul>
      <li>
        아이디
      </li>
      <li>
        <input type="text" id="loginId">
      </li>
      <li>
        비밀번호
      </li>
      <li>
        <input type="password" id="loginPass">
      </li>
    </ul>
    <div id="login-button-wrap">
      <button onclick="onClickLoginButton()">로그인</button>
    </div>
    <div id="login-join-wrap">
      <span id="login-join-comment">아직도 회원이 아니세요?</span>
      <span id="joinSpan" onclick="moveJoinPage()">회원가입</span>
    </div>
  </div>
</div>