#complete-table {
  margin: auto;
}

#complete-wrap {
  width: 600px;
  height: 792px;
  display: table;
  margin: 40px auto;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#complete-middle-wrap {
  display: table-cell;
  vertical-align: middle;
}

.button-wrap {
  margin-top: 30px;
}