<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.reservationView">
  <select id="getReservationViewList" parameterType="project.oecr.dto.ReservationDto" resultType="project.oecr.dto.ReservationDto">
    select *
    from reservation
    where mid = 4
    order by rid desc;
  </select>

  <select id="getDuplicateReservationViewList" parameterType="project.oecr.dto.ReservationDto" resultType="project.oecr.dto.ReservationDto">
    select *
    from reservation
    where mid = #{mid}
    group by couponNum
    order by rid desc
    limit #{pageNumber}, 10
  </select>

  <select id="getTotalCount" parameterType="project.oecr.dto.ReservationDto" resultType="int">
    select count(distinct couponNum)
    from reservation
    where mid = #{mid}
  </select>

  <select id="getSameCouponNum" parameterType="project.oecr.dto.ReservationDto" resultType="int">
    select endTime
    from reservation
    where couponNum = #{couponNum}
    order by endTime desc
  </select>
</mapper>