<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.reservation">
  <select id="getReservationList" parameterType="project.oecr.dto.ReservationDto" resultType="project.oecr.dto.ReservationDto">
    select *
    from reservation
    where statId = #{statId}
      and chgerId = #{chgerId}
      and resDate = #{resDate}
  </select>

  <select id="getCarData" parameterType="project.oecr.dto.CarInfoDto" resultType="project.oecr.dto.CarInfoDto">
    select manufac
    from carinfo
    group by manufac
  </select>

  <select id="getCarModel" parameterType="project.oecr.dto.CarInfoDto" resultType="project.oecr.dto.CarInfoDto">
    select model
    from carinfo
    where manufac = #{manufac}
    group by model
  </select>

  <select id="getCarBatCap" parameterType="project.oecr.dto.CarInfoDto" resultType="project.oecr.dto.CarInfoDto">
    select battery.batCap
    from carinfo
        inner join battery
    where model = #{model} and carinfo.batCap = battery.bID
  </select>

  <insert id="insertReservation" parameterType="project.oecr.dto.ReservationDto">
    insert into reservation
    values (null, #{mid}, #{couponNum}, #{statId}, #{chgerId}, #{resDate}, #{tid}, #{chgerCharge}, #{statNm}, #{chgerType});
  </insert>

  <select id="getReservationCoupon" parameterType="String" resultType="project.oecr.dto.ReservationDto">
    select statId, chgerId, resDate, endTime, statNm, chgerCharge, chgerType
    from reservation
    where couponNum = #{couponCode}
    group by couponNum
  </select>

  <select id="getSameCouponNum" parameterType="String" resultType="int">
    select endTime
    from reservation
    where couponNum = #{couponCode}
  </select>

  <select id="getReservationStatIdInfo" parameterType="project.oecr.dto.ReservationDto" resultType="project.oecr.dto.ReservationDto">
    select *
    from charginginfo
    where statId = #{statId}
      and chgerId = #{chgerId}
  </select>
</mapper>