<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.reservation">
  <select id="getReservationList" parameterType="project.oecr.dto.ReservationDto" resultType="project.oecr.dto.ReservationDto">
    select userId, statId, chgerId, resDate, reservation.tId, starTime, endTime
    from reservation
           left outer join time t
                           on reservation.tId = t.tId
    where statId = #{statId}
      and chgerId = #{chgerId}
      and resDate = #{resDate}
  </select>

  <select id="getCarData" parameterType="project.oecr.dto.CarInfoDto" resultType="project.oecr.dto.CarInfoDto">
    select manufac
    from carinfo
    group by manufac
  </select>

  <select id="getCarModel" parameterType="project.oecr.dto.CarInfoDto" resultType="project.oecr.dto.CarInfoDto">
    select model
    from carinfo
    where manufac = #{manufac}
  </select>

  <select id="getCarBatCap" parameterType="project.oecr.dto.CarInfoDto" resultType="project.oecr.dto.CarInfoDto">
    select battery.batCap
    from carinfo
        inner join battery
    where model = #{model} and carinfo.batCap = battery.bID
  </select>

  <insert id="insertReservation" parameterType="project.oecr.dto.ReservationDto">
    insert into reservation
    values (null, 'qweqwe', #{couponNum}, #{statId}, #{chgerId}, #{resDate}, #{tid}, #{chgerCharge});
  </insert>
</mapper>